/* Global Styles */
:root {
  --background: #1e1e1e;
  --foreground: #ffffff;
  --accent-color: #e4e2dd;
  --font-family: "Poppins", sans-serif;
  --line-height: 1.5;
  --clr-bg-alt: #1e1e1e;
  --clr-fg-alt: #1e1e1e;
  --clr-primary: #e4e2dd;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  line-height: var(--line-height);
}

/* Selection Styles */
::selection {
  background: var(--clr-primary);
  color: var(--background);
}

/* Typography */
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: #1e1e1e;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  color: #e4e2dd;
  margin-top: 8px;
  margin-bottom: 24px;
  text-align: center;
}

/* Remove list styles */
ul {
  list-style-type: none;
}

/* Remove text decoration from links */
a {
  text-decoration: none;
}

/* Page Container */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

/* Start and Capture Buttons */
.start-button,
.capture-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background-color: var(--accent-color);
  color: #1e1e1e;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  margin-top: 50px;
}

.start-button:hover,
.capture-button:hover {
  background-color: #ffffff;
}

/* Video Wrapper */
.video-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 1s ease-in-out;
  text-align: center;
}

.video-wrapper.fade-out {
  opacity: 0;
}

.video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Information Overlay */
.info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

/* Sustainability Grade */
.sustainability-grade {
  position: absolute;
  top: 60px;
  left: 60px;
  padding: 20px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  width: 150px;
}

/* Brand Information */
.brand-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: var(--foreground);
  text-align: center;
}

.brand-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.product-title {
  font-size: 1.5rem;
  font-weight: normal;
  color: #cccccc;
  margin-top: 8px;
}

/* Projects Section */
.section {
  margin-top: 5em;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
  transition-delay: 5s;
}

.section__title {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

/* Topmost Box */
.hep {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  padding: 2em;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.hep:hover {
  transform: translateY(-7px);
}

/* Projects Grid */
.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.project {
  padding: 2em;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.2s linear;
  background-color:#e4e2dd;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 20em;
  height: 25em;
}

.news {
  padding: 2em;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.2s linear;
  background-color:#e4e2dd;
  margin-top: auto;
  margin-bottom: 2em;
  margin-left: auto;
  width: 65em;
  height: 30em;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

.invisible {
  opacity: 0;
}

/* Fade Animations */
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
  animation-fill-mode: forwards;
}

.fade-out {
  opacity: 0;
  animation: fadeout 0.5s ease;
}
